<!DOCTYPE html>
<html lang="en">
<head>

<!-- meta tags -->
<meta charset="utf-8">
<meta name="keywords" content="GramaStudio's page" />
<meta name="description" content="GramaStudio's page"/>

<!-- Title -->
 <title>Blog</title>

<!-- Favicon Icon -->
<link rel="shortcut icon" href="../assets/images/favicon.ico" />

<!-- inject css start -->

<link href="../assets/css/style.css" rel="stylesheet" />

<!-- inject css end -->

</head>

<body>

<!-- page wrapper start -->

<div class="page-wrapper">
  
<!--header start-->
  {% include 'sections/navbar.html' %}

<!--body content start-->

<div class="page-content" id="content">
<ul class=blog-posts>
{% for data in content -%}
<li>
<span><i><time>{{data.date[0]}} </time></i></span>
<a href=/blog/post/{{data.slug[0]}}.html>{{ data.title[0] }}</a>
<p>{{ data.summary[0] }}</p>
</li>

{%- endfor %} 

</ul>


</div>

<!--body content end--> 
{% include 'sections/footer.html' %}

</div>

<!-- page wrapper end -->


</body>

</html>
