<!DOCTYPE html>
<html lang="en">
<head>

<!-- meta tags -->
<meta charset="utf-8">
<meta name="keywords" content="GramaStudio's page" />
<meta name="description" content="GramaStudio's page"/>

<!-- Title -->
 <title>{% for title in meta.title %}{{title}}{% endfor %}</title>

<!-- Favicon Icon -->
<link rel="shortcut icon" href="../assets/images/favicon.ico" />

<!-- inject css start -->

<link href="../assets/css/style.css" rel="stylesheet" />

<!-- inject css end -->

</head>

<body>

<!-- page wrapper start -->

<div class="page-wrapper">
  
<!--header start-->
  {% include 'sections/navbar.html' %}

<!--body content start-->

<div class="page-content" id="content">
<h1>{{ meta.title[0] }}</h1>
<p>
<i>
<time>{{ meta.date[0] }}
</time>
</i>
</p>

{% for line in content -%}
{{ line }}
{%- endfor %} 
</div>

<!--body content end--> 
{% include 'sections/footer.html' %}

</div>

<!-- page wrapper end -->


</body>

</html>
